/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


@media screen and (min-width: 320px) {

}

.showme {
  background-color: black;
  color: white;
  position: absolute;
  z-index: 2;

}

.display-none {
  display: none;
}

/****************************************/
/*Leafelet.css and Leaflet.css overrides*/
/****************************************/

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

.angular-leaflet-map {
  height: 100%; 
  width: 100%; 
  position: absolute;
  z-index: 1;
}

.leaflet-control-attribution {
  /*display: none;*/
}

.leaflet-control-zoom {
  /*display: none;*/
}

/*******************************************************/
/*Class for created control (right content control box)*/
/*******************************************************/
.content {
  position: absolute;  /*better would be fixed positon*/
  top: 1%;
  right: .5%;
  z-index: 2;
  padding: 6px 8px;
  /*font: 14px/16px Arial, Helvetica, sans-serif;*/
  /*background: white;*/
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  height: 80%;
  width: 25%;
  overflow: auto;
}
.content h4 {
  margin: 0 0 5px;
  color: #777;
}

nav {
  position: absolute;
  top: 1%;
  left: .5%;
  z-index: 2;
  width: 20%;
}

.accordion-heading {
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
}

.accordion-inner {
  background: rgba(255,255,255,1);
  border-radius: 3px;
  /*background-color: blue;*/
}


#credits {
  position: absolute;
  bottom: .5%;
  right: .5%;
  z-index: 2;
  background: rgba(255,255,255,0.8);

  /*border-radius: 3px;*/
  /*background: rgba(255,255,255,1);*/
}


.btn {
  /*background: rgba(255,255,255,0.8);*/
}

.content_toggle {
  position: absolute;
  top: .5%;
  right: .5%;
  z-index: 2;
  display: none;
}

.nav_toggle {
  position: absolute;
  top: .5%;
  left: .5%;
  z-index: 2;
  display: none;
}

.modal {
  width: 40%;
  margin: 0 auto;
  left: 30%;
  border-radius: 3px;
}

/**************************/
/****** Mobile View *******/
/**************************/
@media (max-width: 720px) {
  .content{
    display: none;
  }

  nav {
    display: none;
  }

  .content_toggle {
    display: inline;
    position: absolute;
    top: .5%;
    right: .5%;
    z-index: 3;
  }

  .nav_toggle {
    display: inline;
    position: absolute;
    top: .5%;
    left: .5%;
    z-index: 3;
  }

  .leaflet-control-zoom {
    display: none;
  }

}

/*#navTop {
  border-radius: 20px;
}
*/



.mobile_nav {
  display: inline;
  width: 85%;
  /*height: 85%;*/
  /*Changed height, was blocking map interaction*/

}
.mobile_content {
  display: inline;
  width: 85%;
  height: 85%;

}

/*Dropdown district select in nav*/
#district-select {
   width: 60%;
}


/* for ng-cloak*/
/*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}*/


#barSubmit {
  position: absolute; 
  bottom:5px; 
  right:5px;
}