<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>HYPE!</title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/leaflet.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="appController"> 
  <!-- This doesn't seem pretty, not sure how to correctly add 2 app wide controllers -->
  <div ng-controller="getJSON_HTTP_Request">
  <leaflet defaults="defaults" center="center"></leaflet>

  <button class="nav_toggle btn" ng-click="navOpen()" animate="up">Filter</button> 
  <!-- remove animate?  switch ng-click to directives? -->

<nav class="nav">  

   <accordion close-others="oneAtATime">
    <accordion-group heading="Cow Shit" title="Title Number 1">
   <input ng-model="opt.query" placeholder="Search" style="width: 78%;"> 
      
      <!-- <input type="checkbox" ng-model="opt.query"> -->

      <a href="#" ng-click="save()"><i class="icon-fixed-width icon-plus"></i></a> 
    </accordion-group>
    
    <accordion-group heading="Cow Wee" title="Title Number 1">
    Content
    </accordion-group>

    <accordion-group heading="Cow Lorem Ipsum" title="Title Number 1">Content
    </accordion-group>
  </accordion>
</nav>
<button class="content_toggle btn" ng-click="contentOpen()" animate="down">Content</button> 

<div class="content">
  <accordion close-others="oneAtATime">
    <accordion-group heading="{{group.properties.name}}" ng-repeat="group in featDB | filter:opt.query" ng-click="onContentHeaderClick()">
    <p>{{group.properties.address}}</p>
    <p>{{group.properties.phone}}</p>
    <p>{{group.properties.email}}</p>
    <p>{{group.properties.about}}</p>
  </accordion-group>
</accordion>
</div>
<footer>


  <button id="credits" class="btn btn-medium" ng-click="open()">Credits</button>
  <div modal="shouldBeOpen" close="close()" options="opts">
    <div class="modal-header">
      <h4>Credits</h4>
    </div>
    <div class="modal-body">
      <p>Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,
        <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,
        Imagery &copy; <a href="http://cloudmade.com">CloudMade</a></p>
        <p>Code by: Matt</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" ng-click="close()">Ok!</button>
      </div>
    </div>

  </footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
-->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="lib/angular/angular.js"></script>
<script src="js/ui-bootstrap-tpls-0.3.0.js"></script>
<script src="js/leaflet-src.js"></script>
<script src="js/angular-leaflet-directive.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</div>
</body>
</html>
